@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Oswald', sans-serif;
    background-color: #f0f0f0;
}

/* Banner */
.banner{
    margin-top: 8%;
}
section.banner .card{
    margin: 20px 70px;
    height: 300px;
    border: none;
}

section.banner img{
    height: inherit;
    width: 100%;
    object-fit: cover;
}

/* navegação página */

section.navegacao{
    max-width: 70vw;
    border: solid 1px #7aa9f5;
    margin: auto;
}

section.navegacao a{
    color: black;
}

div.conteudo .container a{
    color: white;
    justify-content: center;
}

/* Empresa */

section#empresa{
    max-width: 90vw;
    margin: auto;
    padding: 100px;
    justify-content: center;
}

/* Lideranças */

section.lideranca h2{
    padding: 30px;
}


section.lideranca .card img{
    height: 200px;
    object-fit: cover;
}

/* Cultura */

section#cultura{
    max-width: 70vw;
    margin: auto;
    padding: 100px;
    justify-content: center;
}


/* contato */

section#contato{
    max-width: 70vw;
    margin: auto;
    padding: 100px;
    justify-content: center;
}