@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Oswald', sans-serif;
}

/* header */
header{
    font-size: 1.3rem;
}

header nav a img{
    width: 200px;
}

header div.container ul li a{
    text-decoration: none;
    color: black;
}

/* footer */

footer{
    background-color: #e1f5fe;
}

footer div.logotipo a img{
    width: 150px;
}

.footer-subtitulo{
    font-size: 1.2rem;
    color: black;
}

.footer-listas{
    list-style: none;
    font-size: 0.9rem;
    color: black;
    padding: 0;
}

a.footer-link{
    text-decoration: none;
    color: grey;
}

a:hover.footer-link{
    text-decoration: none;
    color: black;
}

a.icone-rede-social{
    font-size: 40px;
    color: #424242;
    padding: 0 5px;
}

a:hover.icone-rede-social{
    font-size: 40px;
    color: black;
}

/* cabecalho */

section.cabecalho{
    display: block;
}

/* produtos */

.carrossel-imagem{
    height: 75vh;
    object-fit: cover;    
}

.card-img-top{
    height: 35vh;
    object-fit: cover;
}

i.bottom-comment{
    margin-right: 7px;
}

div.card-body{
    padding: 0.75rem;
}

p.card-bottom{
    margin: 0;
    font-size: 0.68rem;
}

p.preco-de{
    color: #9f9e9e;
    text-decoration: line-through;
}

a.card-icone-comentarios{
    text-decoration: none;
    color: gray;
}

a:hover.card-icone-comentarios{
    text-decoration: none;
    color: black;
}

a.card-icone-likes{
    text-decoration: none;
    color: gray;
}

a:hover.card-icone-likes{
    text-decoration: none;
    color: black;
}

div.posts-preenchimento{
    background-color: #f0f0f0;
}

div.container.posts-fotos{
    background-color: #f0f0f0;
}

div.container.posts-guias{
    background-color: #f0f0f0;
}

div.container.posts-questoes{
    background-color: #f0f0f0;
}

a.card-title{
    text-decoration: none;
    color: black;
}

p.card-text.destaque{
    font-size: 0.7rem;
}

p.card-text.post-user{
    font-size: 0.8rem;
}

a.post-user{
    text-decoration: none;
    color: black;
}

a:hover.post-user{
    text-decoration: none;
    color: orange;
}

a.post-titulo{
    text-decoration: none;
    color: black;
}

p.card-text.post-text{
    font-size: 0.8rem;
}

a.post-text{
    text-decoration: none;
    color: black;
}

p.card-text.post-data{
    font-size: 0.6rem;
}

p.card-text.post-comunidade{
    font-size: 0.8rem;
}

a.post-comunidade{
    text-decoration: none;
    color: black;
}

p.card-text.post-tipo{
    font-size: 0.8rem;
}

a.post-tipo{
    text-decoration: none;
    color: black;
}

p.card-text.post-qte-likes{
    font-size: 0.8rem;
}

p.card-text.post-qte-comentarios{
    font-size: 0.8rem;
}

.titulo-secao{
    font-size: 1.6rem;
}

.titulo-secao-continuacao{
    font-size: 1.1rem;
}

.subtitulo-secao{
    font-size: 1.6rem;
}

a.subtitulo-link{
    text-decoration: none;
    color: gray;
}

a:hover.subtitulo-link{
    text-decoration: none;
    color: black;
}


/* filtros */

section.filtros{
    height: 15vh;
}