@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Oswald', sans-serif;
    /* background-color: #f0f0f0; */
}
.stilo{
    width: 33.33%;
    margin-top: 9%;
}
