@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Oswald', sans-serif;
}

.produto-imagem {
    display: block;
    padding: 0px;
    margin: 0px;
    width: 100vh;
}

.img-princ {

    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    display: inline-flex;
}

.secao-produto {
    margin-top: 8%;
    padding: 0px;
    display: flex;
}

.prev-produto {
    padding: 0px;
    margin: px;
    width: 100%;
    display: inline-block;
}

.princ-img {

    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    display: inline-flex;
}

\\.div-princ-img {
    position: absolute;
}

.mult-img {

    width: auto;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    display: inline-flex;
}

.img-mt {
    width: auto;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    display: inline-flex;
}

.sel-img {
    align-content: center;
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 2px;
    margin-left: 0px;
    margin-right: 0px;
    display: inline-flex;
}

.preco-produto {
    font-size: 1.4rem;

}

.artigo-produto {
    display: block;

}

.titulo-secao {
    font-size: 1.6rem;
}

.titulo-produto {
    font-size: 1.6rem;
}

.menu-produc {
    display: inline;
    margin-left: 0px;
    margin-right: 0px;
    align-items: center;
}

.menu-central {
    justify-content: center;
}

.lk-menu-produc {
    margin-left: 100px;
    margin-right: 100px;
}

#btn_comprar {
    width: 30%;
    height: 10%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.button-img {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.button-img:hover {
    background-color: green;
}

.button-img {
    position: relative;
}

.subtitulo-secao {
    font-size: 1.2rem;
}

a.subtitulo-link {
    text-decoration: none;
    color: gray;
}

a:hover.subtitulo-link {
    text-decoration: none;
    color: black;
}

.carousel-indicators {
    position: relative;
}