@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Oswald', sans-serif;
  }

header{
    background-color: white;    
}

header div.container img{
    width: 150px;
}

header div.container ul li a{
    text-decoration: none;
    color: black;
}

.titulo-secao{
    font-size: 1.6rem;
}

.subtitulo-secao{
    font-size: 1rem;
}

footer{
    background-color: black;
}

footer div.logotipo a img{
    width: 150px;
}

.footer-subtitulo{
    font-size: 1.2rem;
    color: white;
}

.footer-listas{
    list-style: none;
    font-size: 0.9rem;
    color: white;
}

.social-media-icons{
    width: 40px;
}