@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap');

html{
    scroll-behavior: smooth;
}

.background-row{
    background-color: white;
}

.background-cadastro{
    background-color: #f0f0f0;
}

.font-cadastro{
    font-weight: lighter;
}