<<<<<<< HEAD

/* body{
    background-color: lightgray;

} */
=======
>>>>>>> 6fa54a824983ecfb76eaf570f55385e9d3574a1b
.font-carrinho{
    font-size: 20px;
    
}

.background-carrinho{
    background-color: #f0f0f0;
}

.img-carrinho{

}

.teste{
    background-color: blue;
}

.teste1{
    background-color: white;
}