
body{
    background-color: lightgray;

}
.font-carrinho{
    font-size: 20px;
}

.background-carrinho{
    background-color: white;
}

.img-carrinho{

}

.teste{
    background-color: blue;
}

.teste1{
    background-color: white;
}