
/* header profile start */

section.header-profile button.profile-photo-edit-bt{
    margin: 0 auto;
    background: black;
    border: black;
    border-radius: 0%;
    text-transform: uppercase;
    width: 100px;
    justify-content: center;
}

div.upload{
    text-align: right;
}

div button i{
    margin-right: 5px;
}

div.user-img{
    display: flex;
    justify-content: center;
    max-width: 150px;
    margin: 0 auto;
}

section.header-profile div.profile-img{
    background-image: url(../img/liderancas/profile.jpg);
    background-size: cover;
    border-radius: 50%;
    height: 150px;
}

div.profile-metrics-container{
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

section.header-profile div.profile-metrics{
    justify-content: space-around;
    align-content: center;
    padding: 10px 0px 10px 0px;
    text-transform: uppercase;
    opacity: 0.7;
}

nav.profile-navbar{
    justify-content: center;
    text-transform: uppercase;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* header profile-section end */


/* About Section start */

section.about button.profile-about-edit-bt{
    text-align: right;
}

section.about{
    background:#f8f9fa;
}

section.about div.edit-btn{
    justify-content: flex-end;
}

div.about h4{
    text-transform: uppercase;
}

section.about button.profile-about-edit-bt{
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 15px 5px 15px;
}

section.about p.col{
    font-weight: lighter;
    margin-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

div.communities{
    text-transform: uppercase;
    height: 200px;
}
div.c-icons{
    height: 80px;
    max-width: 80px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

div.c-icons:hover{
    background: rgba(0, 0, 0, 0.6);
}

div.communities-icons{
    justify-content: space-around;
}