/* ESTILO APLICÁVEL A TODAS AS PÁGINAS */

@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Oswald', sans-serif;
}

.conteudo-pagina-post{
    color: gray
}