
/* Fonte produto */
.font-produto{
    font-size: 1.5rem;
    font-weight: normal;
}

/* Fonte preço */
.font-preco{
    font-size: 1.10rem;
    font-weight: normal;
}

/* Fonte menu */
.font-menu{
    font-size: 1.25rem;
    font-weight: lighter;
}

.font-cartao{
    font-size: 1rem;
    font-weight: lighter;
}

.background-carrinho{
    background-color: #f0f0f0;
}

.background-row{
    background-color: white;
}